.hero-slider-item {
  width: 100%;
  cursor: pointer;
}

.hero-slider-item picture,
.hero-slider-item picture img {
  width: 100%;
  height: 100%;
  max-height: 516px;
  object-fit: cover;
}

.hero-slider-slick .slick-dots {
  top: auto !important;
  bottom: 20px !important;
}
.hero-slider-slick .slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #1c69d4 !important;
}
.hero-slider-slick .slick-dots li button {
  box-shadow: #00000029;
}
.hero-slider-slick .slick-dots li button:before {
  font-size: 14px !important;
  color: #e6e6e6 !important;
  opacity: 1 !important;
}

.main-vehicles-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

.main-vehicles-title {
  width: 100%;
  text-align: center;
}

.main-vehicles-title h2 {
  font-family: "BMWTypeNext-Light", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  line-height: 26px;
}

.main-vehicles-introduction {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px 30px;
}

.main-vehicles-item-title {
  margin-top: 10px;
}
.main-vehicles-item-title h3 {
  font-family: "BMWTypeNext-Light", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  line-height: 26px;
}

.main-vehicles-item-image {
  width: 100%;
  text-align: center;
}

.main-vehicles-item-image img {
  width: 100%;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.main-vehicles-item-image img:hover {
  opacity: 0.5;
}

.main-vehicles-item-btns-call-actions {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.main-vehicles-item-btn {
  width: 100%;
  height: 35px;
  max-height: 100%;
  text-align: center;
  font-size: 12px;
  font-family: "BMWTypeNext-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.main-vehicles-item-btn-quotation {
  background-color: var(--color-blue);
  color: var(--color-white);
  transition: all 0.3s ease-in-out;
}

.main-vehicles-item-btn-quotation:hover {
  background-color: var(--color-blue-dark);
}

.main-vehicles-item-btn-call {
  background-color: var(--color-gray);
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-vehicles-item-midias {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.main-vehicles-item-midias p {
  font-size: 12px;
  line-height: 15px;
  font-family: "BMWTypeNext-Light", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: var(--color-gray);
}

.main-vehicles-item-btns-midias {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.main-vehicles-item-btns-midias a i {
  font-size: 24px;
  color: var(--color-gray);
  transition: all 0.5s ease-in-out;
}

.main-vehicles-item-btns-midias a:hover i {
  color: var(--color-blue);
}

/* FOOTER */
footer {
  margin-top: 60px;
  background-color: var(--color-gray-light);
  padding: 30px 0;
}
.footer-text {
  margin-bottom: 30px;
  text-align: center;
}

.footer-text p {
  font-size: 10px;
  line-height: 16px;
  color: var(--color-custom-dark);
  font-family: "BMWTypeNext-Light", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.footer-copyright-logos-content {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: var(--color-dark);
  border-top: 1px solid #bbbbbb;
}

.logo-bmw-content {
  display: none;
}

.copyright-content {
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  font-family: "BMWTypeNext-Light", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.logo-alpes-one-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo-alpes-one-content p {
  font-size: 12px;
  line-height: 15px;
  font-family: "BMWTypeNext-Light", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
/* */

.extra-form-action {
  background-color: var(--color-gray-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 9999;
  position: fixed;
  min-height: 100svh;
  height: 100%;
  width: 100%;
  top: calc(-150%);
  transition: all 0.5s ease-in-out;
}

.extra-form-action-click-button {
  top: 0%;
}

.btn-minimize {
  width: 100%;
  height: 65px;
  background-color: var(--color-gray);
  color: var(--color-white);
  font-size: 14px;
  line-height: 19px;
  font-family: "BMWTypeNext-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.extra-form-content {
  width: 100%;
  background-color: var(--color-white);
  padding: 30px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.title-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-form i {
  font-size: 28px;
  color: var(--color-blue);
}

.title-form-text {
  font-family: "BMWTypeNext-Light", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-dark);
}

.extra-form {
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-group-checkbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.form-group-checkbox input {
  height: 14px;
  width: 14px;
  font-size: 12px;
  outline: none;
  border: 1px solid;
}

.form-group-checkbox {
  font-family: "BMWTypeNext-Light", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.btn-submit-extra-form {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue);
  color: var(--color-white);
  transition: all 0.3s ease-in-out;
  font-family: "BMWTypeNext-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.btn-submit-extra-form:hover {
  background-color: var(--color-blue-dark);
}

.whatsapp-floating-mobile {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 63px;
  height: 100%;
  max-height: 63px;
  background-color: var(--color-green);
  border-radius: 100%;
  top: auto;
  left: 5%;
  bottom: 16px;
}
.whatsapp-floating-mobile i {
  font-size: 36px;
  color: var(--color-white);
}
@media (min-width: 600px) {
  .main-vehicles-introduction {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .hero-slider-item picture,
  .hero-slider-item picture img {
    max-height: 780px;
  }
  .main-vehicles-introduction {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 45px;
  }
  .main-vehicles-item-btns-call-actions {
    flex-direction: column;
  }
  .main-vehicles-title h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .main-vehicles-item-btn {
    font-size: 14px;
  }
  .main-vehicles-item-btn-call {
    display: none;
  }
  .footer-text p {
    font-size: 14px;
  }
  .copyright-content {
    font-size: 12px;
    line-height: 15px;
  }
  .logo-bmw-content {
    display: block;
  }
  .footer-copyright-logos-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo-bmw-content img {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
  }
  .logo-alpes-one-content p {
    font-size: 10px;
    line-height: 12px;
  }
  .whatsapp-floating-mobile {
    display: none;
  }
}
