* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: inherit;
  border: none;
}

.container {
  padding: 0 5%;
}

@media (min-width: 1280px) {
  .container {
    padding: 0 15%;
  }
}
